*.pyc
*.swp
*.log
*.svg
__pycache__/
zzzconfig
climate_recipes/*.*
climate_recipes/*
!climate_recipes/.gitkeep
!climate_recipes/test1.rcp
data/*.txt
logs/*.*
!logs/.gitkeep
config/*.*
!config/.gitkeep
!config/base.j2
!config/config_fc1.j2
pictures/*.*
!pictures/.gitkeep
state/*.*
state/*
!state/.gitkeep
fopd/
web/
!/web/.gitkeep
web/static/
!/web/static/.gitkeep
