*.pyc
*.swp
*.log
*.svg
__pycache__/
climate_recipes/*.*
climate_recipes/*
!climate_recipes/.gitkeep
data/*.txt
logs/*.*
!logs/.gitkeep
config/*.*
!config/.gitkeep
pictures/*.*
!pictures/.gitkeep
state/*.*
state/*
!state/.gitkeep
fopd/
web/
!/web/.gitkeep
web/static/
!/web/static/.gitkeep
