<!DOCTYPE html>
<html>
<head>
<style>
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

</style>
<head>
<title>Grow Device Dashboard</title>


</head>
<body onload="openTab(event, 'Charts');">
<div id="fopdw">

<div class="tab">
  <button class="tablinks" v-on:click="open_charts_tab">Charts</button>
  <button class="tablinks" v-on:click="open_image_tab">Camera</button>
  <button class="tablinks" onclick="openTab(event, 'Data Entry')">Data Entry</button>
  <button class="tablinks" v-on:click="open_status_tab">Status</button>
  <button class="tablinks" onclick="openTab(event, 'Cloud')">Cloud</button>
  <button class="tablinks" onclick="openTab(event, 'Config')">Config</button>
  <button class="tablinks" onclick="openTab(event, 'About')">About</button>
</div>

<div id="Charts" class="tabcontent">
      <p>Chart data is typically updated evey 20 mintues. Click
      <button v-on:click="update_charts">update</button> to refresh the charts.</p>
  (% for chart in chart_list: %)
      <object type="image/svg+xml" v-bind:data="(( chart['vue_name'] ))">
          "Your browser does not support SVG
      </object>
  (% endfor %)
      
</div>

<div id="Camera" class="tabcontent">
   <p>Images are typically updated once per day. Click
   <button v-on:click="update_image">update</button> to refresh the image.</p>
   <img v-bind:src="image" alt="Latest image" style="width:720px">
</div>

<div id="Status" class="tabcontent">
    <h3>Farm Device</h3>
    <label>Grow Light</label><input id="toggle" type="checkbox">
    <p><label>Air Temp.</label>Not Available
</div>

<div id="Config" class="tabcontent">
  <h3>Config</h3>
    <p>Show status of fopd device</p>
</div>

<div id="About" class="tabcontent">

<p><b>Release Version:</b>Blossom</p>
<p>
This is open source software.  Source code is available at the <a target="_blank" href="https://github.com/ferguman/fopd">Farm Operation Device</a> repository.
</p>
</div>

<! end of Vue application !>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
var app = new Vue({
    el: '#fopdw',
    /* data is to contain the properties to be added to the reactivity sytem.  Changes to these
       values will trigger the Vue system to re-render the UI to incorporate the new values. */
    data: { 
        message: 'You loaded this image on ' + new Date().toLocaleString(),
	image: "(( url_for('static', filename='image.jpg') ))",
(% for chart in chart_list: %)
	(( chart['vue_name'] )): "(( url_for('static', filename = chart['chart_file_name']) ))",
(% endfor %)
    },
    methods: {
        update_image: function(event) {
            this.image = "/static/image.jpg?" + new Date().getTime();
	},
        update_charts: function(event) {
(% for chart in chart_list: %)
            this.((chart['vue_name'])) = "(( url_for('static', filename = chart['chart_file_name']) ))?" + new Date().getTime();
(% endfor %)
	},
	update_status: function(event) {
	    
	},
        open_image_tab: function(event) {
	    openTab(event, 'Camera');
	    this.update_image();
        },
        open_charts_tab: function(event) {
	    openTab(event, 'Charts');
	    this.update_charts();
        },
        open_status_tab: function(event) {
	    openTab(event, 'Status');
	    this.update_status();
        }
    }
})

function openTab(evt, tabName) {

    var i, tabcontent, tablinks;
    /* get all the descendant elements of the elements with class name "tabcontent" -> in other
       words get all the elements in each of the tab content areas */
    tabcontent = document.getElementsByClassName("tabcontent");

    /* hide all the elements on all the tabs areas */
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    /* get all the horizontal menu tab link button elements */ 
    tablinks = document.getElementsByClassName("tablinks");

    /* find the current button in the horizontal bar with class name active and 
       and set the class name to none. */ 
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    /* set the CSS display property to block (as in a block of stuff) for all the elements that are 
       descendents of the tab that the user has clicked */
    document.getElementById(tabName).style.display = "block";
    
    /* set the class for the horizontal button that was just clicked so that it's color will change.
       as per the active class style */
    evt.currentTarget.className += " active";
}
</script>
	     
</body>
</html> 
