{% extends "base.j2" %}
{% block device %}
# ############## Open Ag Micro Sensors and Actuators
air_location_id = 'c0b1d0dc-66a4-46da-8aec-cc308a3359a1'
grow_light_location_id = 'c0b1d0dc-66a4-46da-8aec-cc308a3359a1'
water_location_id = '309e865b-f996-44ba-8893-8d5ac3b2d747'

# The Food Computer V1 senses 8 things with 6 sensors -> air humidity, air temp, light par, light lumens,
# air co2, water ph, water temp, and water ec.
# TBD Need to add window and shell switch sensors.
#
reading_names = {'humidity':0, 'air_temp':1, 'light_lum':2, 'light_par':3, 'air_co2':4, 'ph':5, 'water_temp':6, 
                 'water_ec':7, 'shell_off':8, 'window_off':9}

openag_micro_senso_readings = [
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'air', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'humidity', 'value':None, 'units':'Percentage', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'air', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'temperature', 'value':None, 'units':'Celsius', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'light', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'lum', 'value':None, 'units':'lm', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'light', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'par', 'value':None, 'units':'mol/sec', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'air', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'co2', 'value':None, 'units':'ppm', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'water', 'subject_location_id':'309e865b-f996-44ba-8893-8d5ac3b2d747', 
                'attribute':'ph', 'value':None, 'units':'None', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'water', 'subject_location_id':'309e865b-f996-44ba-8893-8d5ac3b2d747', 
                'attribute':'temperature', 'value':None, 'units':'Celsius', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'water', 'subject_location_id':'309e865b-f996-44ba-8893-8d5ac3b2d747', 
                'attribute':'ec', 'value':None, 'units':'mS/cm', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'air', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'shell_off', 'value':None, 'units':'None', 'ts':None},
               {'type':'environment', 'device_name':'arduino', 'device_id':arduino_id,
                'subject':'air', 'subject_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1', 
                'attribute':'window_off', 'value':None, 'units':'None', 'ts':None},
   ]

# FC1 Command Set -> humidifier, grow_light, ac_3, air_heat,
#                    vent fan, circulation fan, chamber lights, motherboard lights.
#
command_set = {'humidifier':0, 'grow_light':1, 'ac 3 switch':2,'air_heat':3, 
                  'vent_fan':4, 'circ_fan':5, 'chamber_lights':6, 'mb_lights':7}
# ############## food computer version 1 device configuration 
from logging import DEBUG, INFO, WARNING, ERROR, CRITICAL

system = {'name': device_name, 'device_id': device_id,
          'resources':[
              {'imp':'web.flask_app', 'daemon':True, 
               'args':{'name':'flask','port':5000, 'host':'127.0.0.1'}},
              {'imp':'python.mqtt_client',
               'args':{'name':'mqtt','enable':True, 'organization_id': organization_guid, 'log_level':INFO, 
                       'client_create_retry_interval': 30,
                       'mqtt_password_b64_cipher':mqtt_password_b64_cipher,
                       'mqtt_client_id':device_id, 'mqtt_username':mqtt_username, 'mqtt_url':mqtt_url,
                       'mqtt_port':mqtt_port}},
              {'imp':'python.openag_micro', 'enabled': True, 'daemon':False,  
               'args':{'name':'mc', 'serial_port':'/dev/ttyACM0', 'baud_rate':115200, 'log_level':INFO,
                       'device_id':arduino_id, 'sensor_readings':openag_micro_senso_readings,
                       'sensor_reading_names':reading_names, 'command_set':command_set,
                       'mc_start_delay':1}},
              {'imp':'python.data_logger',
               'args': {'name':'data_logger', 'source':'mc', 'sample_interval': 20*60, 
                        'log_data_via_mqtt':True, 'mqtt_resource':'mqtt', 
                        'log_data_to_local_couchdb':True, 'log_level': INFO}},
              {'imp':'python.camera_controller',
               'args':{'name':'camera','enable':True, 'log_level':INFO, 'pose_on_cmd':"mc.cmd('cp', 'on')",
                       'pose_off_cmd':"mc.cmd('cp', 'off')",
                       'subscribers':({'sub':'LocalWebServer', 'args':{'name':'local_website', 'frequency':r'\d\d00', 
                                                                       'take_picture_on_start':True,
                                                                       'destination_dir':'/web/static/'}},
                                      {'sub':'FopCloudStorage', 'args':{'name':'image_uploader', 'frequency':r'08\d\d',
                                                                        'url':fws_url + '/upload',
                                                                        'take_picture_on_start':True,  
                                                                        'device_id':camera_guid}})}},
              {'imp':'python.climate_controller',
                  'args':{'name':'cc', 'hardware_interface':'mc', 'default_recipe_file':'/climate_recipes/test1.rcp',
                          'hysteresis':1, 'has_circ_fan_control':True, 'has_air_heater_control':True,
                          'log_level':INFO, 'min_log_period':5,
                          'state_file':'/state/climate_state', 'state_file_write_interval':60*20}},
              {'imp':'python.web_chart_controller',
                  'args':{'name':'wc', 'log_level':INFO, 'charting_interval':20 * 60,
                          'couchdb_location_url': local_couchdb_url,
                          'chart_list':[{'couchdb_name':'air temperature', 'vue_name':'air_temperature',
                                         'attribute':'temperature',
                                         'chart_title':'Air Temperature',
                                         'y_axis_title':'Degrees F', 'x_axis_title':'Date & Time',
                                         'data_stream_name':'Air Temp.', 'display_units':'fahrenheit',
                                         'chart_file_name':'temp_chart.svg'},
                                        {'couchdb_name':'air humidity', 'vue_name':'air_humidity',
                                         'attribute':'humidity',
                                         'chart_title':'Humidity',
                                         'y_axis_title':'Percent',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Humidity',
                                         'chart_file_name':'humidity_chart.svg'},
                                        {'couchdb_name':'water temperature', 'vue_name':'water_temperature',
                                         'attribute':'temperature',
                                         'chart_title':'Water Temperature', 'display_units':'fahrenheit',
                                         'y_axis_title':'Degrees C',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water Temp.',
                                         'chart_file_name':'water_temp_chart.svg'},
                                        {'couchdb_name':'water ph', 'vue_name':'water_ph',
                                         'attribute':'ph',
                                         'chart_title':'Water Ph',
                                         'y_axis_title':'Ph',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water Ph.',
                                         'chart_file_name':'water_ph.svg'},
                                        {'couchdb_name':'water ec', 'vue_name':'water_ec',
                                         'attribute':'ec',
                                         'chart_title':'Water EC',
                                         'y_axis_title':'mS/cm^2',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water EC.',
                                         'chart_file_name':'water_ec.svg'},
                                        {'couchdb_name':'air co2', 'vue_name':'air_co2',
                                         'attribute':'co2',
                                         'chart_title':'air co2',
                                         'y_axis_title':'ppm',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'CO2.',
                                         'chart_file_name':'co2.svg'},
                                        {'couchdb_name':'light par', 'vue_name':'light_par',
                                         'attribute':'par',
                                         'chart_title':'PAR',
                                         'y_axis_title':'umol/sec/m^2',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'PAR',
                                         'chart_file_name':'par.svg'},
                                        ]}}
          ]
}
{% endblock %}
