{% extends "base.j2" %}
{% block device %}
# ############## food computer version 1 device configuration 
from logging import DEBUG, INFO, WARNING, ERROR, CRITICAL

system = {'name': device_name, 'device_id': device_id,
          'resources':[
              {'imp':'python.mqtt_client',
               'args':{'name':'mqtt','enable':True, 'organization_id': organization_guid, 'log_level':INFO}},
              {'imp':'python.openag_micro',  
               'args':{'name':'mc', 'serial_port':'/dev/ttyACM0', 'baud_rate':115200, 'log_level':INFO,
                       'device_id':arudino_id,
                       'air_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1',
                       'grow_light_location_id':'c0b1d0dc-66a4-46da-8aec-cc308a3359a1',
                       'water_location_id':'309e865b-f996-44ba-8893-8d5ac3b2d747',
                       'mc_start_delay':1}},
              {'imp':'python.data_logger',
               'args': {'name':'data_logger', 'source':'mc', 'sample_interval': 20*60, 
                        'log_data_via_mqtt':True, 'mqtt_resource':'mqtt', 
                        'log_data_to_local_couchdb':True, 'log_level': INFO}},
              {'imp':'python.camera_controller',
                  'args':{'name':'camera','enable':True, 'log_level':INFO, 'pose_on_cmd':"mc.cmd('cp', 'on')",
                          'pose_off_cmd':"mc.cmd('cp', 'off')",
                          'subscribers':({'sub':'LocalWebServer', 'args':{'frequency':r'\d\d00', 'take_picture_on_start':True,
                                                                'destination_dir':'/web/static/'}},
                                         {'sub':'FopCloudStorage', 'args':{'frequency':r'08\d\d',
                                                                'url':'https://fop1.urbanspacefarms.com/upload',
                                                                'take_picture_on_start':True,  
                                                                'device_id':'dda50a41-f71a-4b3e-aeea-2b58795d2c99'}})}},
              {'imp':'python.climate_controller',
                  'args':{'name':'cc', 'default_recipe_file':'/climate_recipes/test1.rcp',
                          'log_level':INFO, 'min_log_period':5,
                          'state_file':'/state/climate_state', 'state_file_write_interval':60*20}},
              {'imp':'python.web_chart_controller',
                  'args':{'name':'wc', 'log_level':INFO, 'charting_interval':20,
                          'couchdb_location_url': 'http://127.0.0.1:5984/mvp_sensor_data_fc1/',
                          'chart_list':[{'couchdb_name':'air temperature', 'vue_name':'air_temperature',
                                         'attribute':'temperature',
                                         'chart_title':'Air Temperature',
                                         'y_axis_title':'Degrees F', 'x_axis_title':'Date & Time',
                                         'data_stream_name':'Air Temp.', 'display_units':'fahrenheit',
                                         'chart_file_name':'temp_chart.svg'},
                                        {'couchdb_name':'air humidity', 'vue_name':'air_humidity',
                                         'attribute':'humidity',
                                         'chart_title':'Humidity',
                                         'y_axis_title':'Percent',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Humidity',
                                         'chart_file_name':'humidity_chart.svg'},
                                        {'couchdb_name':'water temperature', 'vue_name':'water_temperature',
                                         'attribute':'temperature',
                                         'chart_title':'Water Temperature', 'display_units':'fahrenheit',
                                         'y_axis_title':'Degrees C',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water Temp.',
                                         'chart_file_name':'water_temp_chart.svg'},
                                        {'couchdb_name':'water ph', 'vue_name':'water_ph',
                                         'attribute':'ph',
                                         'chart_title':'Water Ph',
                                         'y_axis_title':'Ph',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water Ph.',
                                         'chart_file_name':'water_ph.svg'},
                                        {'couchdb_name':'water ec', 'vue_name':'water_ec',
                                         'attribute':'ec',
                                         'chart_title':'Water EC',
                                         'y_axis_title':'mS/cm^2',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'Water EC.',
                                         'chart_file_name':'water_ec.svg'},
                                        {'couchdb_name':'air co2', 'vue_name':'air_co2',
                                         'attribute':'co2',
                                         'chart_title':'air co2',
                                         'y_axis_title':'ppm',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'CO2.',
                                         'chart_file_name':'co2.svg'},
                                        {'couchdb_name':'light par', 'vue_name':'light_par',
                                         'attribute':'par',
                                         'chart_title':'PAR',
                                         'y_axis_title':'umol/sec/m^2',
                                         'x_axis_title':'Timestamp (hover over to display date)',
                                         'data_stream_name':'PAR',
                                         'chart_file_name':'par.svg'},
                                        ]}}
          ]
}
{% endblock %}
