[Unit]
Description=fopd mender boot script
DefaultDependencies=no
After=data.mount
Before=systemd.hostnamed.service

[Service]
Type=oneshot
WorkingDirectory=/home/pi/fopd
User=root
ExecStart=/home/pi/fopd/fopd/bin/python /home/pi/fopd/mender/fopd_mender_boot.py  
RemainAfterExit=yes

[Install]
WantedBy=network.target
